

{% extends "base.html" %}x

    {% block content %} 
 
    <h1 style="text-align: center;" class="middle mt-3 mb-3">Book Detail Pages</h1>

    
        <div class="row">
            <div class="col-md-3 mb-4 middle">
                    <img src="{{ book.cover_pic.url }}" class="card-img-top" alt="{{ book.title }} cover">
            </div> 
            <div class="col-3 mt-4 ms-4">
                <h3 class="title">
                    {{book.title}}
                </h3>
                <p class="txt">{{book.description}}</p>
            </div>
                
            </div>
            {% endblock content %}
</body>
</html>